<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read(All)</title>
</head>
<body>
    <h1 class="display-2 m-4">All Users</h1>
    <form action="/users" method="GET">
        <table class="table m-4 border border-dark ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created at</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for user in users: %}
                <tr>
                    <td>{{user['first_name']}} {{user['last_name']}}</td>
                    <td>{{user['email']}}</td>
                    <td>{{user['created_at']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <a class="btn btn-primary m-4" href="/users/new">Add a New User</a>

</body>
</html>